---
import Layout from "../../layouts/Layout.astro";
import Board from "../../components/Board";
---

<Layout>
  <div class="w-full h-full flex flex-col p-4 gap-2">
    <Board client:only="react" />
  </div>
</Layout>
