---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="w-full h-full grid grid-cols-1 items-center justify-center">
    <div class="w-full flex flex-row justify-center">
      <img src="logo.svg" class="w-4/5" />
    </div>
    <div class="w-full flex flex-row justify-center p-6">
      <a
        class="w-full bg-yellow-400 px-6 py-4 text-5xl font-semibold rounded-2xl text-white text-center"
        href="/board?origin=start"
      >
        START
      </a>
    </div>
  </div>
</Layout>
